<!--
 /***************************************************************************
 * $Id: style.css 2 2008-04-24 13:41:58Z sven $
 ***************************************************************************/

/***************************************************************************
 *
 * HTML
 * NAVIGATION
 *
 ***************************************************************************/

/************************* HTML ********************/
body
{
  font-family: "Times New Roman", Times, serif;
  font-size:10pt;
  color: #000000;
  margin-top: 0px;
  padding-top: 5px;
  font-size: 100.01%;
}

a:link, a:visited, a:active
{
  color:#000000;
}

a:hover
{
  color:#404040;
}

img {
  vertical-align: middle;
}

.pathButton button{border:0 none;background:transparent;font:normal 11px tahoma,verdana,helvetica;padding-left:0px;padding-right:0px;cursor:pointer;margin:0;overflow:visible;width:auto;-moz-outline:0 none;outline:0 none;}
.pathButton i{width:0px;height:21px;background:url(../images/spacer.png);}
.pathButton td{width:0px;height:21px;}


-->
