<?php

$config = array();

######################################################
# basic configuration
$config["logfile"]      = "./var/webmp3.log";             # place for our logfile
$config["cliPHPbinary"] = "/usr/bin/php";                 # where is the command line php5 binary?
$config["searchPath"]   = "/opt/local/music/";            # path to your mp3/ogg files

######################################################
# playback binary configuration, feel free to add extensions with
# an executable
$config["ext"][".mp3"]["binary"] = "/usr/bin/mpg123";     # path to your binary for playing mp3s
$config["ext"][".mp3"]["option"] = array("-q");           # additional options for the mp3 playing executable
$config["ext"][".ogg"]["binary"] = "/usr/bin/ogg123";
$config["ext"][".ogg"]["option"] = array("-q");
$config["ext"][".wma"]["binary"] = "/opt/local/bin/mplayer";
$config["ext"][".wma"]["option"] = array("-quiet", "-really-quiet");

$config["streamBin"]  = "/usr/bin/mplayer";                  # binary for playing streams
$config["playStrOpt"] = array("-quiet", "-really-quiet");    # additional options
#$config["streamUrlPre"] = "http_proxy://proxyhost:8080/";   # requiered for proxy support

######################################################
# volume configuration
$config["volumeBin"]   = "./volume.sh";                      # executable to change volume
$config["quietVol"]    = "25";                               # volume to set if someone presses the quiet button

######################################################
# temporary file configuration
$config["playlist"]    = "./var/playlist.dat";               # a file with your playlist and other temporary data
$config["hitlist"]     = "./var/hitlist.dat";                # a file with your played songs
$config["plDir"]       = "./var/playlists/";                 # folder for your saved playlists
$config["tagCache"]    = "./var/tagCache.dat";               # cache file for mp3 tags

######################################################
# notification configuration (optional)
# notification when playing a song, %T is the displayed text
#$config["notifyCommand"] = "echo '%T' | /usr/bin/osd_cat";

######################################################
# access control (optional
# ip adresses which are allow to use this tool
$config["accControl"] = 0;                      # if 1, then ip based access will be used
$config["allowedIPs"] = array("127.0.0.1", "192.168.0.1", "192.168.0.2", "192.168.0.3");

# this directive allows you to allow only specific ips for some directories
# the setting is optional, every directory pattern not listed here uses the
# default access list from 'allowedIPs'
# $config["allowedDirs"] = array(
#                                 "/protected" => array("127.0.0.1", "192.168.0.1"),
#                               );

######################################################
# plugin configuration
# lastfm, used for scrobbling via lastfm.com
$config["lastfm_user"]  = "";
$config["lastfm_pass"]  = "";
$config["lastfm_proxy"] = "";                                    # ex.: http://your_proxy_host:8080
$config["lastfm_url"]   = "http://post.audioscrobbler.com/";
?>
