<!--
 /***************************************************************************
 * $Id$
 ***************************************************************************/

/***************************************************************************
 *
 * HTML
 * NAVIGATION
 *
 ***************************************************************************/

/************************* HTML ********************/
body
{
  font-family: "Helvetica", Helvetica, sansserif;
  font-size:9pt;
  color: #000000;
  margin-top: 0px;
  padding-top: 5px;
  font-size: 100.01%;
}

 /************************* NAVIGATION ********************/

.navigation {
    margin: 3px;
    padding: 3px;
    text-align: center;
}

  table#Navigation {
    background-color: lavender;
    margin: 2px;
    padding: 3px;
    border: 1px solid black;
    text-align: center;
  }

  table#Link {
    background-color: lavender;
    margin: 2px;
    padding: 3px;
    border: 1px solid black;
    text-align: center;
  }

  table#Link a {
    text-decoration: none; font-weight: bold;
    color: maroon;
  }
  table#Link a:hover {
    color: white;
  }

  table#Navigation a {
    padding: 0.01em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: white; border-top-color: white;
    color: maroon; background-color: #ccc;
    white-space:nowrap;
  }
  table#Navigation a:hover {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: grey;
  }

-->
