<!--
 /***************************************************************************
 * $Id: style.css 2 2008-04-24 13:41:58Z sven $
 ***************************************************************************/

/***************************************************************************
 *
 * HTML
 * NAVIGATION
 *
 ***************************************************************************/

/************************* HTML ********************/
body
{
  font-family: "Times New Roman", Times, serif;
  font-size:10pt;
  color: #000000;
  margin-top: 0px;
  padding-top: 5px;
  font-size: 100.01%;
}

.x-btn.repeat-btn .x-btn-text {
   background-image: url('images/control_norepeat_blue.png') ! important;
}

.x-btn-pressed.repeat-btn .x-btn-text {
   background-image: url('images/control_repeat_blue.png') ! important;
}

-->